{% extends 'money/base.html' %}
{% load humanize %}

{% block content %}
<div class="year-pager mx-auto text-center">
  <a href="{% url 'money:month_transition' prev_year %}">
    前年
  </a>
  <span class="ml-4 mr-4">{{ year }}</span>
  <a href="{% url 'money:month_transition' next_year %}">
    次年
  </a>
</div>

{% autoescape off %}
<div class="row mt-2">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        {{ transition_plot }}
      </div>
    </div>
  </div>
</div>
{% endautoescape %}

{% endblock %}

{% block extrajs %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}