{% extends 'money/base.html' %}

{% block content %}
<form id="search-form" action="" method="GET">
  {% comment %} <div style="width:100%" class="mt-2 mr-auto text-end"> {% endcomment %}
    <div class="row mt-2">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
      月間推移：{{ search_form.graph_visible }}&emsp;

      {% comment %} 表示グラフが収入の時は表示しない {% endcomment %}
      {% if search_form.cleaned_data.graph_visible != 'Income' %}
        支出カテゴリ：{{ search_form.payment_category }}&emsp;
      {% endif %}

      {% comment %} 表示グラフが支出の時は表示しない {% endcomment %}
      {% if search_form.cleaned_data.graph_visible != 'Payment' %}
        収入カテゴリ：{{ search_form.income_category }}
      {% endif %}
      </div>
    </div>
  {% comment %} </div> {% endcomment %}
</form>

{% autoescape off %}
<div class="row mt-2">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">月間</h6>

        <table class="table">
          <tr>
            <th>カテゴリ</th>
            <th>金額</th>
          </tr>
          <tr>
            <td>合計</td>
          </tr>
        </table>

      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        {{ transition_plot }}
      </div>
    </div>
  </div>
</div>
{% endautoescape %}

{% endblock %}

{% block extrajs %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', e => {
    const searchForm = document.getElementById('search-form');

    // 支出カテゴリがクリックされたら送信
    for (const check of document.getElementsByName('payment_category')) {
      check.addEventListener('change', () => {
        searchForm.submit();
      });
    }
    // 収入カテゴリがクリックされたら送信
    for (const check of document.getElementsByName('income_category')) {
      check.addEventListener('change', () => {
        searchForm.submit();
      });
    }

    // グラフ表示条件がクリックされたら送信
    for (const check of document.getElementsByName('graph_visible')) {
      check.addEventListener('change', () => {
        // 支出グラフが選択されたら、収入カテゴリのチェックは外して送信
        if (check.value == 'Payment') {
          for (const radio of document.getElementsByName('income_category')) {
            if (radio.checked) {
              radio.checked = false;
            }
          }
        //収入グラフが選択されたら、支出カテゴリのチェックは外して送信
        } else {
          for (const radio of document.getElementsByName('payment_category')) {
            if (radio.checked) {
              radio.checked = false
            }
          }
        }
        searchForm.submit();
      })
    }

    // 選択済みのボタンがクリックされたら解除して送信
    const selectedPaymentCategory = document.querySelector(`input[name='payment_category']:checked`)
    if (selectedPaymentCategory) {
      selectedPaymentCategory.onclick = () => {
        selectedPaymentCategory.checked = false
        searchForm.submit();
      }
    }

    const selectedIncomeCategory = document.querySelector(`input[name='income_category']:checked`)
    if (selectedIncomeCategory) {
      selectedIncomeCategory.onclick = () => {
        selectedIncomeCategory.checked = false
        searchForm.submit();
      }
    }

    const selectedGraphVisible = document.querySelector(`input[name='graph_visible']:checked`)
    if (selectedGraphVisible) {
      selectedGraphVisible.onclick = () => {
        selectedGraphVisible.checked = false
        searchForm.submit();
      }
    }
  });
</script>
{% endblock %}