{% extends 'accounts/base.html' %}

{% block title %}
  <div class="h3 text-center">ログインページ</div>
{% endblock %}

{% block content %}
  <div style="width:40%" class="mt-5 mx-auto text-center">
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
      <div class="mt-2">
        {{ field.label }}：
        {{ field }}
        {{ field.errors }}
      </div>
        {% endfor %}

      <div class="mt-3 mx-auto text-center">
        <button type="submit" class="btn btn-primary">ログイン</button>&emsp;
        <a href="{% url 'accounts:signup' %}" class="btn btn-success">サインアップ</a>
      </div>
    </form>
  </div>
{% endblock %}
