{% extends 'money/base.html' %}
{% comment %} moneyアプリのbase.htmlを継承 {% endcomment %}

{% block title %}
  <div class="h3 text-center">{{ page_title }}</div>
{% endblock %}

{% block content %}
  <div class="mt-5 mx-auto text-center">
    <p><a href="{% url 'accounts:familyregister' %}" >家名の登録ページへ</a></p>
  </div>
  <div style="width:40%" class="mx-auto text-center">
    <form method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="mt-2">
          {{ field.errors }}
          <label class="label mr-4 position-relative">
            {{ field.label }}
              {% if field.field.required %}
                <small><span class="badge rounded-pill bg-danger">必須</span></small>
              {% endif %}
          </label>
          ：{{ field }}
        </div>
        {% endfor %}

      <div class="mt-3 mx-auto text-center">
        {% if user.is_authenticated %}
        <button type="submit" class="btn btn-primary">更新</button>&emsp;
        {% else %}
        <button type="submit" class="btn btn-primary">登録</button>&emsp;
        {% endif %}
        <a href="{% url 'accounts:login' %}" class="btn btn-secondary">戻る</a>
      </div>
    </form>
  </div>

{% endblock %}
