{% extends 'money/base.html' %}
{% comment %} moneyアプリのbase.htmlを継承 {% endcomment %}

{% block title %}
  <div class="h3 text-center">{{ page_title }}</div>
{% endblock %}

{% block content %}
  <p class="mt-2 mx-auto text-center">以下ユーザー情報を削除し、退会しますか？</p>
  <div style="width:50%" class="mx-auto text-center">
    <table class="table">
      <tr><th class='text-end'>account_id：</th><td class='text-start'>{{ object.account_id }}</td></tr>
      <tr><th class='text-end'>email：</th><td class='text-start'>{{ object.email }}</td></tr>
      <tr><th class='text-end'>家名：</th><td class='text-start'>{{ object.family_name }}</td></tr>
      <tr><th class='text-end'>名前：</th><td class='text-start'>{{ object.first_name }}</td></tr>
    </table>
  </div>
  <div class="mx-auto text-start">
    <form method="post">
      {% csrf_token %}
        <div class="mx-auto text-center">
          <button type='submit' class="btn btn-danger" name="button">削除</button>&emsp;
          <a class="btn btn-secondary" href="{% url 'accounts:mypage'%}">戻る</a>
        </div>
    </form>
  </div>

{% endblock %}