{% extends 'accounts/base.html' %}
{% comment %} 不要ページ {% endcomment %}

{% comment %} ログインログアウト別表記 {% endcomment %}
{% block title %}
  {% if user.is_authenticated %}
    <div class="h2">MyPage</div>
  {% else %}
    <div class="h2">Main</div>
  {% endif %}

  {% if messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="h2">Welcome {{ user.family_name }} {{ user.first_name }}</div>
    <a href="{% url 'accounts:logout' %}" class="btn btn-primary">Logout</a>
  {% else %}
    <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'accounts:signup' %}" class="btn btn-primary">Signup</a>
  {% endif %}
{% endblock %}



{% comment %} ログアウト表記のみ {% endcomment %}
{% comment %} {% block title %}
  <div class="h1">Main</div>
  {% if messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
      <button type="button" class="btn-close"  data-bs-dismiss="alert"></button>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
  <a href="{% url 'accounts:signup' %}" class="btn btn-primary">Signup</a>
{% endblock %} {% endcomment %}
